body{
   
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    background: #FFFFFF;
    font-size: 14px;
    margin: 0;
}

.main-container {
    max-width: 1408px;
    margin: 0 auto;
}

.container{
    height: 50px;
}

.body-content {
    display: grid;
    grid-template-columns: 328px 1fr;
    margin-top: 32px;
}

.site{
    max-width: 1408px;
    margin: 0 auto;

    padding-top:24px;

    grid-template-areas: 'header header'
    'sidebar content'
    'footer footer';
    grid-gap: 10px;
    grid-template-columns: 328px;
}

.header{
    height: 200px;
}

.header a:hover {
    cursor: pointer;
}

.nav-box{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.box-1:hover,.box-2:hover,.box-3:hover,.box-4:hover,.box-5:hover{
    height: 20px;
    background-color: #E8EAED;
    transition: background-color 1s 
}

.nav-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  
    width: 405px;
    height: 36px;
}

.nav-box-1 img, .nav-box-2 img{
    margin-right: 10px;
}

.box-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    
    height: 36px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-1 img{
    width: 20px;
    height: 20px;
}

.box-1 a{
    width: 64px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-decoration-line: underline;


    color: #2B2A29;
}


.box-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    height: 36px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-2 img{
    width: 20px;
    height: 20px;
}

.box-2 > button{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-color: unset;
    border:none;
    cursor: pointer;
}

.box-2 a{
    width: 161px;
    height: 20px;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
}

.nav-box-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    
    width: 600px;
    height: 36px;
}

.nav-box-2 a{
    text-decoration: none;
}

.header-box-2{
    display: flex;
    justify-content: space-between;
    grid-area: h;
}


.search-block {
    display: flex;
}

.box-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-3 img{
    width: 20px;
    height: 20px;
}

.box-3 a{
    width: 132px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
}

.box-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-4 img{
    
    width: 20px;
    height: 20px;
}

.box-4 a{
    width: 46px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;

}

.box-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-5 img{
    width: 20px;
    height: 20px;
}

.box-5 a{
    width: 168px;
    height: 20px;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
}

.nav-box-3{
    display: flex;
    flex-direction: row;   

    padding: 5px;
    
    width: 180px;
    height: 20px;

    background: #E8EAED;
    border-radius: 4px;
}

.nav-box-3 img{
    width: 20px;
    height: 20px;
    left: 16px;
    top: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.nav-box-3 a{
    width: 121px;
    height: 20px;
    left: 44px;
    top: 8px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.box-grid{
    margin-top: 32px;
    
    display: grid;
    grid-template-areas: 
    'i  h'
    'i  c';
    grid-gap: 20px;
    grid-template-columns: 86px 1fr
}

.logo-company{
    width: 86px;
    height: 100px;
    grid-area: i;
}

.logo-company img{
    width: 86px;
    height: 100px;
}

.catalog-button{
    display: flex;
    height: 42px;
    background: #E31E24;
    border-radius: 4px;
    align-items: center;
    padding: 12px 20px;
    border:none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
}

.catalog-button:hover{
    cursor: pointer;
    background-color: #c0191f;;
    transition: all 1s;
}

.catalog-button img{
    margin-right: 8px;
}

.search-input{
    width: 751px;
    height: 38px;
    border: 1px solid #C8CACC;
    border-right: none;

    padding-left: 15px;
  
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-btn{
    width: 48px;
    height: 42px;
    border: 1px solid #C8CACC;
    border-left: none;
    background: #F2F4F7;
    text-align: center;
    color: #fff;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.search-btn:hover{
   cursor: pointer;
}

.box-goods{
    display: flex;
}

.box-goods h4{
    font-weight: 600;
    font-size: 12px;
}

.box-goods img{
    width: 26px;
    height: 26px;
    margin: 0 auto;
    cursor: pointer;
}

.block-goods-3{
    position: relative;
}

.block-goods-1, .block-goods-2, .block-goods-3{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
 }

 .block-goods-1 h4, .block-goods-2 h4, .block-goods-3 h4{
    margin: 5px;
 } 
 
 .count{
    height:20px;
    width: 20px;
    position: absolute;
    right: 0;

    background-color: red;
 
    color: white;
    border-radius: 50%;
 }

 .count h5{
    margin: 2px;
 }

 .box-connection{
    width: 1297px;
    height: 20px;
    
    display: flex;
    justify-content: space-between;
    grid-area: c;
 }

 .blue-a{
    color: #005BFF;
    text-decoration: underline;
 }

 .blac-a{
    color:black;
    text-decoration: none;
}

 .box-connection h5{
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    margin-left: 10px;

    color: #999999;
 }

 .connection-item,.connection-item-i{
    display: flex;
    justify-content: center;
 }

 .connection-item img,  .connection-item a, .connection-item-i img, a{
    margin-right: 5px;
 }

 .item-city{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-right: 5px;
    color: red;
 }

 .connection-item h4,.connection-item-i h4{
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
 }

 .box-personal-account-text h4{
    margin: 0;
    width: 216px;
    height: 32px;
    font-weight: bold;
    font-size: 24px;
 }

 .item-personal-account-text{
    display: flex;
    flex-direction: row;
    align-items: center;
  
    margin: 10px 0 10px 0;
 }
  .link-personal-accoun{
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: #999999;
    margin-right: 4px;
 }

 .activ-linc-personal-account{
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color:red;
    margin-right: 4px;
}

 .box-nav-panel{
    height: 36px;
    display: flex;
    flex-direction: column;
 }

 .box-nav-panel a{
     cursor: pointer;
 }

 .nav-panel-item{
    width: 300px;
    height: 100px;
    padding: 10px;
    display: flex;
 }

 .actic-link-personal-account{
    background: #E8EAED;
    border-radius: 4px;
 }

 .nav-panel-item img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
 }

 .nav-panel-item a{
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
 }

 .bell-count{
    width: 20px;
    height: 20px;

    font-weight: 900;

    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    color: white;
 }

.box-status-account h4{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.status-box{
    height: 30px;
    display: flex;
}

.status{
    padding: 5px;
    
    width: 86px;
    height: 20px;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: blue;
    color: white;

    font-weight: 600;
}

.box-loading-bar h4{
    padding-left: 66%;
    margin-bottom: 10px;
}

.loading-bar{
    overflow:hidden;
    height:16px;
    background: #E8EAED;
    border-radius: 4px;
}

.progress{
    height:16px;
    background: #FF9A02;
    border-radius: 4px;
}


.box-status-account h5{
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.box-summ-min-max{
    display: flex;
    justify-content: space-between;
}

.circulation-of-money{
    display: flex;
}

.circulation-of-money b{
    margin: 3px;
}

.circulation-of-money h5{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #999999;
    margin: 3px;
}

.personal-data-heading{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #2B2A29;
}

.personal-data{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 32px;
}

.personal-data input{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-left: 20px;
}

.personal-data-input{
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 1px solid #404040;
    box-sizing: border-box;
    border-radius: 4px;
}

.error{
    width: 100%;
    height: 50px;
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 4px;
}

.error-text, .error-text-pass{
    display: none;
    font-size: 10px;
   
    margin: 0;
    margin-left: 20px;
    color: red;
}

.personal-data-button{
    display: flex;
    justify-content: flex-start;
}

.save-button{
    width: 117px;
    height: 48px;

    background: #F2042C;
    border-radius: 4px;
    border:none;
    margin-right: 30px;

    font-weight: 600;
    font-size: 14px;
    color: white;
}

.reset-button{
    width: 117px;
    height: 48px;

    background: #E8EAED;
    border-radius: 4px;

    font-weight: 600;
    font-size: 14px;
    border:none;
}

.save-button:hover{
    cursor: pointer; 
    background-color: #c0191f;
    transition: all 1s;
}

.reset-button:hover{
    cursor: pointer; 
    background-color: #c8c9ca;
    transition: all 1s;
}

.box-account-business{
    margin-top: 48px;
    background: #F2F4F7;
    border-radius: 4px;
    padding: 24px;
}

.account-business-title{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 32px;
}

.account-business-title img{
    width: 32px;
    height: 30px;
    margin-right: 20px;
}

.account-business-title h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #2B2A29;
}


.box-account-business p{
    height: 40px;
    margin: 18px 0 24px 0;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
}

.added-company-button{
    padding: 14px 20px;
    background: #F2042C;
    border-radius: 4px;
    border:none;

    font-weight: 600;
    font-size: 14px;

    color: #FFFFFF;
}

.added-company-button:hover{
    cursor: pointer; 
    background-color: #c0191f;
    transition: all 1s;
}

.box-pass-date{
    height: 188px;
}

.box-pass-date h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #2B2A29;  
}

.pass-date-input{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 32px;
}
.pass-date-input input{
   padding-left: 20px;
}


.box-button-pass{
    width: 260px;

    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.button-save-pass{
    width: 117px;
    height: 50px;
    background: #F2042C;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: white;
}

.button-save-pass:hover{
    cursor: pointer; 
    background-color: #c0191f;
    transition: all 1s;
}

.button-reset-pass{
    width: 117px;
    height: 50px;
    background: #E8EAED;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: black
}

.button-reset-pass:hover{
    cursor: pointer; 
    background-color:  #c8c9ca;
    transition: all 1s;
}


.pass-login, .pass-login-repeat {
    width: 100%;
    padding: 15px;
    border: 1px solid #404040;
    box-sizing: border-box;
    border-radius: 4px;
}

.box-button-pass button:hover{
    cursor: pointer;
}

.footer{
    grid-area: footer;
   
    max-width: 100%;

    margin: 0;

    margin-top: 120px;

    background: #F2F4F7;
}

.box-footer{
    padding: 64px 0 50px 0;
}

.box-footer-info{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}

.box-footer-info-item, .box-footer-info-item-i{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-footer-info-item img{
    margin-bottom: 15px;
}

.box-footer-info-item a,  .box-footer-info-item-i p{
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
 
    text-decoration: none;
    color: #2B2A29;
}

.box-footer-info-item a:hover,  .box-footer-info-item-i a:hover{
    cursor: pointer;
    color:red
}
  
.box-footer-info h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: #2B2A29;
}

.box-footer-info h4, p{
    margin:0;
    margin-bottom: 10px;
}

.p-subscribe{
    width: 360px;
    height: 45px;

    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.03em;

    color: #999999;
}

.p-subscribe a{
    font-size: 12px;
    color: #999999;
    text-decoration: underline;
}

.box-subscribe-form{
    display: flex;
    margin: 10px 0 20px 0;
}

.input-subscribe{   
    width: 273px;
    height: 38px;

    padding-left: 15px;

    background: #FFFFFF;

    border: 1px solid #C8CACC;
   
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;

    border-radius: 0px;
}

.button-subscribe{
    width: 132px;
    height: 40px;

    background: #F2042C;
    color: white;
    border: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding: 0;

    color: #FFFFFF;

    border-radius: 0px 4px 4px 0px;
}

.button-subscribe:hover{
    cursor: pointer; 
    background-color: #c0191f;
    transition: all 1s;
}

.box-social-networks{   
    display: flex;
    justify-content: space-between;
}

.social-networks-items a{
    margin: 3px;
}

.social-networks-items img:hover{
    opacity: 0.50;
    transition: all 1.2s;
}

.social-company-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 615px;
    height: 38px;
}

.social-company-items a{
    margin: 3px;
}

.box-copyright{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}

.box-copyright a{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    
    text-decoration-line: underline;
    
    color: #2B2A29;
}

.box-copyright h3{
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;

    color: #2B2A29;
}

.box-bank a{
   margin: 5px; 
}


/***********************MOBILE***********************/


.header-mob {
    display: none;
    padding: 16px 0;
    background: #2B2A29;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header-mob__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mob__btns {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-gap: 16px
}

.header-mob-btns__item > button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #E31E24;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

.header-mob-btns__item > button:hover {
    transition: .2s;
    opacity: .9;
}

.header-mob-btns__item > button > span {
    margin-right: 10px;
}

.header-mob__btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: unset;
    padding: 8px 16px;
    cursor: pointer;
}

.header-mob__btn > img:last-child {
    margin-left: 8px;
}

.header-mob__btn:hover {
    transition: .2s;
    opacity: .9;
}
  
.material-textfield {
    position: relative;  
  }
  
  .material-textfield input {
    height: 50px;
  }

.header-mob__btn > span {
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF
}

.header-mob__btns > .header-mob__btn.city {
    display: none;
}

.search-mob {
    display: none;
    background: #F2F4F7;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 14px 16px;
    margin-top: 56px;
}

.search-mob__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-mob__input {
    flex-grow: 1;
}

.search-mob__input .search-input {
    width: 100%;
    height: 36px;
}

.search-mob__input .search-btn {
    background: white;
    height: unset;
}

.search-mob__btns {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.search-mob-btns__item:not(:last-child) {
    margin-right: 32px;
}

.search-mob-btns__item > button {
    border: none;
    background-color: unset;
}

.search-mob-btns__item img {
    width: 24px;
    height: 24px;
}

.search-mob-btns__item > button.cart {
    display: flex;
    align-items: center;
    position: relative;
}

.search-mob-btns__item > button.cart > .cart-value {
    margin-left: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2B2A29;
}

.search-mob-btns__item > button.cart > .cart-count {
    display: flex;
    border-radius: 50%;
    background-color: red;
    color: white;
    align-items: center;
    justify-content: center;
    font-style: normal;
    padding: 4px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    position: absolute;
    top: -4px;
    left: 21px;
}

.social-company-items.tablet {
    display: none;
    margin-top: -18px;
}

.box-copyright > .social-networks-items {
    display: none;
}

.footer-mob {
    display: none;
    background: #F2F4F7;
    margin-top: 110px;
    padding-top: 40px;
    padding-bottom: 48px;

}

.footer-mob__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}

.footer-mob__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.footer-mob__copyright a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;

    font-weight: 600;
    font-size: 13px;

    text-decoration-line: underline;

    color: #2B2A29;
}

.footer-mob__copyright > div {
    text-align: center;
}

.footer-mob .box-bank {
    margin-top: 44px;
} 

.footer-mob .social-networks-items {
    margin-top: 24px;
}

.navbar-bottom {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar-bottom > .navbar-bottom__btn {
    flex-grow: 1;
}

.navbar-bottom button {
    width: 100%;
    background: #2B2A29;
    border: none;
    padding: 12px 0;
}

.navbar-bottom button:hover, .navbar-bottom__btn.active button:active {
    transition: .2s;
    background-color:#404040;
}

.navbar-bottom:not(:last-child) button {
    border-right: 1px solid #404040;
}



/***********************TEST***********************/
 


  label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    font-size: 13px;
    color: #999999;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }
  
  input {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;  
    color: gray;
    transition: 0.1s ease-out;
  }

  input:focus + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }






/***********************MEDIA***********************/



  @media(max-width:1440px){
    .site{
        max-width: 1024px;
    }

    .main-container {
        max-width: 1024px;
    }

    .search-input{
        width: 406px;
    }

    .box-5{
    display: none;
    }

    .box-bank{
        display: flex;
    }
    
    .header-box-2{
        width: 920px;
    }

    .nav-box{
        width: 1020px;
    }

    .box-connection{
        width: 930px;
    }

    .connection-item-i{
        display: none;
    }

    .box-footer{
        width: none;
    }
        
    .box-footer-info-item-i p{
        display: none;
    }
  }

  @media (max-width: 1024px) {
    .body-content { 
        display: block;
    }

      .site {
        display: block;
        max-width: 736px;
      }
      
      .main-container {
        max-width: 736px;
      }

      .header {
        display: none;
      }

      .sidebar {
        display: none;
      }

      .header-mob {
        display: block;
      }

      .search-mob {
        display: block;
      }

      /* footer */
      .box-footer-info-item:not(.logo), .box-footer-info-item-i {
        display: none;
      }

      .box-social-networks {
        display: none;
      }

      .box-copyright {
          margin-top: unset;
          margin-left: 42px;
          display: grid;
          grid-template-columns: 1fr 1fr;
      }

      .box-footer {
        display: flex;
      }

      .social-company-items.tablet {
        display: flex;
        padding-bottom: 48px;
      }

      .box-copyright > h3 {
        order: 0;
      }

      .box-copyright > a {
        order: 2;
        margin-top: -92px;
      }

      .box-copyright > .box-bank {
        order: 1;
        justify-self: end;
      }

      .box-copyright > .social-networks-items {
        order: 3;
        justify-self: end;
        margin-top: -108px;
      }

      .box-copyright > .social-networks-items {
        display: block;
    }
  }

  @media (max-width: 767px) {
      .site {
        max-width: 343px;
      }
      
      .main-container {
        max-width: 343px;
      }

      .header-mob {
        padding: 10px 0;
      }

      .header-mob__store, .header-mob__city {
        display: none;
      }

      .header-mob-btns__item.catalog-btn {
        display: none;
      }

      .header-mob-btns__item > button {
        padding: 8px;
        background: #404040;
    }

    .box-account-business{
        text-align: center;
    }

    .added-company-button{
        margin-top: 30px;
    }

    .header-mob__btns > .header-mob__btn.city {
        display: flex;
    }

    .header-mob-btns__item > button > span {
        display: none;
    }

    .search-mob__btns {
        display: none;
    }

    .footer {
        display: none;
    }

    .footer-mob {
        display: block;
    }

    .navbar-bottom {
        display: flex;
    }
  }