body{
    position: relative;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    background: #FFFFFF;
    font-size: 14px;
}

.site{
    padding: 16px 256px 24px 256px;
    display: grid;
    grid-template-areas: 'header header'
    'sidebar content'
    'footer footer';
    grid-gap: 10px;
    grid-template-columns: 328px;
}

.header{
    width: 100%;
    height: 200px;
}

.header a {
  text-decoration: none;
}

.header a:hover {
 cursor: pointer;
}

.nav-box{
    height: 36px;

    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.nav-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 405px;
    height: 36px;
    left: 256px;
    top: 16px;
}

.nav-box-1 img, .nav-box-2 img{
    margin-right: 10px;
}

.box-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    position: static;
    width: 124px;
    height: 36px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-1 img{
    position: static;
    width: 20px;
    height: 20px;
}

.box-1 a{
    position: static;
    width: 64px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

text-decoration-line: underline;


color: #2B2A29;
}


.box-2{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;

position: static;
width: 249px;
height: 36px;

background: #FFFFFF;
border-radius: 4px;
}

.box-2 img{
    position: static;
    width: 20px;
    height: 20px;
}

.box-2 a{
    position: static;
    width: 161px;
    height: 20px;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
}

.nav-box-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 600px;
    height: 36px;
    left: 777px;
    top: 16px;
}

.header-box-2{
    position: absolute;
    width: 600px;
    height: 36px;
    left: 777px;
    top: 16px;
}

.box-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    position: static;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-3 img{
    position: static;
    width: 20px;
    height: 20px;
}

.box-3 a{
    position: static;
width: 132px;
height: 20px;

font-weight: 600;
font-size: 14px;
line-height: 20px;

color: #2B2A29;
}

.box-4{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;

position: static;

background: #FFFFFF;
border-radius: 4px;
}

.box-4 img{
    position: static;
width: 20px;
height: 20px;
}

.box-4 a{
    position: static;
width: 46px;
height: 20px;

font-weight: 600;
font-size: 14px;
line-height: 20px;

color: #2B2A29;

}

.box-5{
    display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;

position: static;

background: #FFFFFF;
border-radius: 4px;
}

.box-5 img{
    position: static;
width: 20px;
height: 20px;
}

.box-5 a{
    position: static;
    width: 168px;
    height: 20px;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
    
}

.nav-box-3{
    display: flex;
    flex-direction: row;   

    padding: 5px;
    position: absolute;
    
    width: 180px;
    height: 20px;
    left: 1483px;
    top: 20px;

    background: #E8EAED;
    border-radius: 4px;
}

.nav-box-3 img{
    position: static;
width: 20px;
height: 20px;
left: 16px;
top: 8px;

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;
}

.nav-box-3 a{
    position: static;
    width: 121px;
    height: 20px;
    left: 44px;
    top: 8px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.logo-company img{
    width: 86px;
    height: 100px;


    position: absolute;
    left: 270px;
    top: 125px;
}

.catalog-img{
position: absolute;
right: 850px;
top: 110px;
}

.catalog-img img{
height: 44px;
}

.search{
    position: absolute;
    width: 814px;
    height: 45px;
    right: 20px;
    top: 110px;

    border: 1px solid #C8CACC;
    box-sizing: border-box;
    border-radius: 4px;
}

.search-btn{
    position: absolute;
    width: 45px;
    height: 44px;
    left: 534px;
    top: 110px;
    border:none;
}

.search-btn:hover{
   cursor: pointer;
}

.box-goods{
    display: flex;
    justify-content: center;

    position: absolute;
    width: 277px;
    height: 60px;
    left: 640px;
    top: 100px;
}

.box-goods h4{
    font-weight: 600;
    font-size: 12px;
}

.box-goods img{
    width: 26px;
    height: 26px;
    margin: 0 auto;
}

.block-goods-1, .block-goods-2, .block-goods-3{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
 }

 .block-goods-1 h4, .block-goods-2 h4, .block-goods-3 h4{
     margin: 5px;
 } 
 
 .block-goods-1 img, .block-goods-2 img, .block-goods-3 img{
     margin-top: 10px;
 }

 .count{
    height:20px;
    width: 20px;

    position: absolute;
   
    left: 245px;
    background-color: red;

    color: white;
    border-radius: 50%;
 }

 .count h5{
     margin: 2px;
 }

 .box-connection{
     position: absolute;
     top: 210px;
     left: 385px;
     width: 1297px;
     height: 20px;
    
     display: flex;
     justify-content: space-between;
 }

 .box-connection a{
    color: #005BFF;
     text-decoration: underline;
 }

 .box-connection h5{
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    margin-left: 10px;

    color: #999999;
 }

 .connection-item{
     display: flex;
     justify-content: center;
 }

 .connection-item img,  .connection-item a{
     margin-right: 5px;
 }

 .item-city{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-right: 5px;
    color: red;
 }

 .connection-item h4{
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
 }


 
.sidebar{
    position: relative;
    margin-top: 50px;
    grid-area:  sidebar;
}


 .box-personal-account-text h4{
    position: relative;
    width: 216px;
    height: 32px;
    left: 10px;
    top: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
 }


 .item-personal-account-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 268px;
    height: 10px;
    left: 10px;
    top: 80px;
 }
  .item-personal-account-text a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: #999999;
    margin-right: 4px;
 }

 .box-nav-panel{
    position: relative;
    width: 328px;
    height: 36px;
    display: flex;
    flex-direction: column;
    top: 30px;
    left: 20px;

 }

 .box-nav-panel a{
     cursor: pointer;
 }

 .nav-panel-item{
    width: 300px;
    height: 100px;
    padding: 10px;
    display: flex;
  
 }

 .actic-link-personal-account{
    background: #E8EAED;
    border-radius: 4px;
 }

 .nav-panel-item img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
 }

 .nav-panel-item a{
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
 }

 .bell-count{
    width: 20px;
    height: 20px;

    position: relative;

    font-size: 12px;

    text-align: center;
    left: 5px;
    border-radius: 50%;
    background-color: red;
    color: white;
 }


 .content{
    position: relative;
    top: 180px;
    left: 20px;
    grid-area: content;
}

.box-status-account h4{
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.status-box{
    width: 500px;
    height: 30px;
    display: flex;
}

.status{
    padding: 5px;
    
    position: absolute;
    width: 86px;
    height: 20px;
    left: 200px;
    top: 0px;
    border-radius: 4px;
    text-align: center;
    background-color: blue;
    color: white;

    font-weight: 600;
}



.box-status-account h5{
    margin-top: 5px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}



.footer{
    position:relative;
    top: 2060px;
    padding: 10px;
    border: solid black 1px;
    grid-area: footer;
}

.personal-data{
    display: grid;
    grid-template-areas: 'input input'
    'input input'
    'input input';
    grid-gap: 10px;
    grid-template-columns: 328px;
}

.personal-data input{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.personal-data-input{
    width: 330px;
    height: 50px;
    border: 1px solid #404040;
    box-sizing: border-box;
    border-radius: 4px;
}

.personal-data-button{
    display: flex;
    justify-content: flex-start;
}

.save-button{
    width: 117px;
    height: 50px;

    background: #F2042C;
    border-radius: 4px;
    border:none;
    margin-right: 30px;

    font-weight: 600;
    font-size: 14px;
    color: white;
}

.reset-button{
    width: 117px;
    height: 50px;

    background: #E8EAED;
    border-radius: 4px;

    font-weight: 600;
    font-size: 14px;
    border:none;
}

.save-button:hover, .reset-button:hover{
    cursor: pointer;
}

.box-account-business{
    position: absolute;
    width: 688px;
    height: 216px;
    top: 450px;

    background: #F2F4F7;
    border-radius: 4px;
}

.account-business-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    margin: 24px;
    width: 300px;
    height: 32px;
    
}

.account-business-title img{
    width: 32px;
    height: 30px;
    margin-right: 20px;
}

.account-business-title h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #2B2A29;
}

.box-account-business p{
    width: 640px;
    height: 40px;
    
    margin: 24px;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
}

.added-company-button{

    position: absolute;
    width: 188px;
    height: 48px;
    left: 20px;
    top: 150px;

    background: #F2042C;
    border-radius: 4px;
    border:none;

    font-weight: 600;
    font-size: 14px;

    color: #FFFFFF;
}

.added-company-button:hover{
    cursor: pointer;
}