body{
    max-width: 1408px;
   
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    background: #FFFFFF;
    font-size: 14px;
}

.site{
    padding: 16px 256px 24px 256px;
    display: grid;
    grid-template-areas: 'header header'
    'sidebar content'
    'footer footer';
    grid-gap: 10px;
    grid-template-columns: 328px;
}

.header{
    width: 1387px;
    height: 200px;
}

.header a:hover {
 cursor: pointer;
}

.nav-box{
    height: 36px;

    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.nav-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  
    width: 405px;
    height: 36px;
}

.nav-box-1 img, .nav-box-2 img{
    margin-right: 10px;
}

.box-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    width: 124px;
    height: 36px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-1 img{
    width: 20px;
    height: 20px;
}

.box-1 a{
    width: 64px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    text-decoration-line: underline;


    color: #2B2A29;
}


.box-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    width: 249px;
    height: 36px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-2 img{
    width: 20px;
    height: 20px;
}

.box-2 a{
    width: 161px;
    height: 20px;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
}

.nav-box-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    
    width: 600px;
    height: 36px;
}

.nav-box-2 a{
    text-decoration: none;
}

.header-box-2{
    display: flex;
    justify-content: space-between;
    grid-area: h;
}


.search-block {
    display: flex;
    margin: 0 auto;
}

.box-3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;

    background: #FFFFFF;
    border-radius: 4px;
}

.box-3 img{
    
    width: 20px;
    height: 20px;
}

.box-3 a{
   
    width: 132px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
}

.box-4{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;



    background: #FFFFFF;
    border-radius: 4px;
}

.box-4 img{
    
    width: 20px;
    height: 20px;
}

.box-4 a{

    width: 46px;
    height: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;

}

.box-5{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;



    background: #FFFFFF;
    border-radius: 4px;
}

.box-5 img{

    width: 20px;
    height: 20px;
}

.box-5 a{

    width: 168px;
    height: 20px;
    
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
    
}

.nav-box-3{
    display: flex;
    flex-direction: row;   

    padding: 5px;
    
    width: 180px;
    height: 20px;

    background: #E8EAED;
    border-radius: 4px;
}

.nav-box-3 img{
    width: 20px;
    height: 20px;
    left: 16px;
    top: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.nav-box-3 a{

    width: 121px;
    height: 20px;
    left: 44px;
    top: 8px;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    color: #2B2A29;
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}

.box-grid{
    width: 1400px;

    margin-top: 32px;
    
    display: grid;
    grid-template-areas: 
    'i  h'
    'i  c';
    grid-gap: 20px;
    grid-template-columns: 86px 1fr
}

.logo-company{
    width: 86px;
    height: 100px;
    grid-area: i;
}

.logo-company img{
    width: 86px;
    height: 100px;
}

.catalog-img img{
    height: 45px;
}

.search{
    width: 814px;
    height: 45px;
    right: 20px;
    top: 110px;

    border: 1px solid #C8CACC;
    box-sizing: border-box;
    border-radius: 4px;
}

.search-btn{
    width: 45px;
    height: 44px;
    left: 534px;
    top: 110px;
    border:none;
}

.search-btn:hover{
   cursor: pointer;
}

.box-goods{
    display: flex;
}

.box-goods h4{
    font-weight: 600;
    font-size: 12px;
}

.box-goods img{
    width: 26px;
    height: 26px;
    margin: 0 auto;
}

.block-goods-3{
    position: relative;
}

.block-goods-1, .block-goods-2, .block-goods-3{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
 }

 .block-goods-1 h4, .block-goods-2 h4, .block-goods-3 h4{
    margin: 5px;
 } 
 
 .count{
    height:20px;
    width: 20px;
    position: absolute;
    right: 0;

    
    background-color: red;
 
    color: white;
    border-radius: 50%;
 }

 .count h5{
    margin: 2px;
 }

 

 .box-connection{
    width: 1297px;
    height: 20px;
    
    display: flex;
    justify-content: space-between;
    grid-area: c;
 }

 .blue-a{
    color: #005BFF;
    text-decoration: underline;
 }

 .blac-a{
    color:black;
    text-decoration: none;
}

 .box-connection h5{
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    margin-left: 10px;

    color: #999999;
 }

 .connection-item{
     display: flex;
     justify-content: center;
 }

 .connection-item img,  .connection-item a{
     margin-right: 5px;
 }

 .item-city{
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    margin-right: 5px;
    color: red;
 }

 .connection-item h4{
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin-left: 5px;
 }
 
.sidebar{
    margin-top: 40px;
    grid-area:  sidebar;
}


 .box-personal-account-text h4{
    margin: 0;
    width: 216px;
    height: 32px;
    font-weight: bold;
    font-size: 24px;
 }



 .item-personal-account-text{
    display: flex;
    flex-direction: row;
    align-items: center;
  
    margin: 10px 0 10px 0;
 }
  .link-personal-accoun{
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: #999999;
    margin-right: 4px;
 }

 .activ-linc-personal-account{
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color:red;
    margin-right: 4px;
}

 .box-nav-panel{
    width: 328px;
    height: 36px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
 }

 .box-nav-panel a{
     cursor: pointer;
 }

 .nav-panel-item{
    width: 300px;
    height: 100px;
    padding: 10px;
    display: flex;
  
 }

 .actic-link-personal-account{
    background: #E8EAED;
    border-radius: 4px;
 }

 .nav-panel-item img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
 }

 .nav-panel-item a{
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
 }

 .bell-count{
    width: 20px;
    height: 20px;

    font-weight: 900;

    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    color: white;
 }


 .content{
    grid-area: content;
    margin-top: 120px;
}

.box-status-account h4{
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.status-box{
    width: 500px;
    height: 30px;
    display: flex;
}

.status{
    padding: 5px;
    
    width: 86px;
    height: 20px;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: blue;
    color: white;

    font-weight: 600;
}

.box-loading-bar h4{
    padding-left: 450px;
    margin-bottom: 10px;
}

.loading-bar{
    width:688px;
    overflow:hidden;
    height:16px;
    background: #E8EAED;
    border-radius: 4px;
}


.progress{
    height:16px;
    background: #FF9A02;
    border-radius: 4px;
}


.box-status-account h5{
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.box-summ-min-max{
    
    display: flex;
    justify-content: space-between;
    width: 688px;
}

.circulation-of-money{
    display: flex;
}

.circulation-of-money b{
    margin: 3px;
}

.circulation-of-money h5{
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #999999;
    margin: 3px;
}

.personal-data-heading{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #2B2A29;
}

.personal-data{
    display: grid;
    grid-template-areas: 'input input'
    'input input'
    'input input';
    grid-gap: 32px;
    grid-template-columns: 328px;
}

.personal-data input{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.personal-data-input{
    width: 330px;
    height: 50px;
    border: 1px solid #404040;
    box-sizing: border-box;
    border-radius: 4px;
}

.personal-data-button{
    display: flex;
    justify-content: flex-start;
}

.save-button{
    width: 117px;
    height: 48px;

    background: #F2042C;
    border-radius: 4px;
    border:none;
    margin-right: 30px;

    font-weight: 600;
    font-size: 14px;
    color: white;
}

.reset-button{
    width: 117px;
    height: 48px;

    background: #E8EAED;
    border-radius: 4px;

    font-weight: 600;
    font-size: 14px;
    border:none;
}

.save-button:hover, .reset-button:hover{
    cursor: pointer;
}

.box-account-business{
    width: 688px;
    height: 170px;  
    margin-top: 48px;
    background: #F2F4F7;
    border-radius: 4px;
    padding: 24px;
}

.account-business-title{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 300px;
    height: 32px;
}

.account-business-title img{
    width: 32px;
    height: 30px;
    margin-right: 20px;
}

.account-business-title h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;

    color: #2B2A29;
}


.box-account-business p{
    width: 640px;
    height: 40px;
    margin: 18px 0 24px 0;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
}

.added-company-button{
    width: 188px;
    height: 48px;
    
    background: #F2042C;
    border-radius: 4px;
    border:none;

    font-weight: 600;
    font-size: 14px;

    color: #FFFFFF;
}

.added-company-button:hover{
    cursor: pointer;
}

.box-pass-date{
    width: 688px;
    height: 188px;
}

.box-pass-date h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #2B2A29;  
}

.pass-date-input{
    display: flex;
   
    justify-content: space-between;
}

.pass-date-input input{
    width: 328px;
    height: 48px;
    
    border: 1px solid #404040;
    box-sizing: border-box;
    border-radius: 4px;
}

.box-button-pass{
    width: 260px;

    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.button-save-pass{
    width: 117px;
    height: 50px;
    background: #F2042C;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: white;
}


.button-reset-pass{
    width: 117px;
    height: 50px;
    background: #E8EAED;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
    border: none;
}

.box-button-pass button:hover{
    cursor: pointer;
}

.pass-date-input input{
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    align-items: center;
    
    color: #2B2A29;
}


.footer{
    grid-area: footer;
   
    width: 100%;
    height: 400px;

    margin: 0;

    margin-top: 120px;
    margin-bottom: 30px;

    padding: 64px 245px  20px 245px;

    background: #F2F4F7;
}

.box-footer-info{
    display: flex;
    justify-content: space-between ;
}

.box-footer-info-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.box-footer-info-item img{
    margin-bottom: 15px;
}

.box-footer-info-item a{
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
 
    text-decoration: none;
    color: #2B2A29;
}

.box-footer-info-item a:hover{
    cursor: pointer;
    color:red
}
  


.box-footer-info h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color: #2B2A29;
}

.box-footer-info h4, p{
    margin:0;
    margin-bottom: 10px;
}

.p-subscribe{
    width: 360px;
    height: 45px;

    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    letter-spacing: 0.03em;

    color: #999999;
}

.p-subscribe a{
    font-size: 12px;
    color: #999999;
    text-decoration: underline;
}


.input-subscribe{   
    width: 360px;
    height: 40px;

    margin: 10px 0 20px 0;

    background: #FFFFFF;

    border: 1px solid #C8CACC;
    box-sizing: border-box;
    border-radius: 4px;
 
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #2B2A29;
    outline:none
    
}

.button-subscribe{
   
    width: 132px;
    height: 39px;

    background: #F2042C;
    color: white;
    border: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.button-subscribe:hover{
    cursor: pointer;
}

.box-social-networks{   
    display: flex;
    justify-content: space-between;
}

.social-networks-items a{
    margin: 3px;
}

.social-company-items{
    display: flex;
    justify-content: space-between;
    padding: 0px;

    width: 615px;
    height: 38px;
}

.social-company-items a{
    margin: 3px;
}

.box-copyright{
    margin-top:48px;
    width: 1387px;
    display: flex;
    justify-content: space-between;
}

.box-copyright a{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    
    text-decoration-line: underline;
    
    color: #2B2A29;
}

.box-copyright h3{
    margin: 0;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;

    color: #2B2A29;
}

.box-bank a{
   margin: 5px; 
}



/***********************TEST***********************/


.container {

    height: 100%;
  }
  
  .material-textfield {
    position: relative;  
  }
  
  label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    font-size: 13px;
    color: #999999;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
  }
  input {
    font-size: 1rem;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;  
    padding: 1rem 0.7rem;
    color: gray;
    transition: 0.1s ease-out;
  }

  input:focus + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }
  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
  }